<nav class="main-navbar">
  <%= link_to "Life Raoks", root_path, class: "navbar-brand" %>

  <div class="navbar-top-posts">
    <%= link_to "All Time", "#"%>
    <%= link_to "Monthly", "#"%>
    <%= link_to "Weekly", "#"%>
    <%= link_to "Daily", "#"%>
  </div>

  <div class='navbar-user-settings'>
    USER AVATAR
  </div>
</nav>
